<nav class="navbar navbar-light p-1 " style="background-color: #b2b4b6;">
    <a class="navbar-brand" href="/">
        <img src="/img/mane.jpg" width="120" height="60" class=" border border-primary rounded display-4" >
    </a>
    <a class="navbar-brand col-md-11" href="/">
        Todas as perguntas!
    </a>
</nav>